@import "./clear.scss";

.index {
    
    padding: 2rem 4rem;
    font-family: questa-grande, serif;

    h1 {
        font-weight: 700;
        font-style: normal;
    }

    p {
        font-weight: 400;
    }
}